@use "../../../styles/color-palette.scss" as *;
@use "../../../styles/mixins.scss" as *;

.userCard {
  display: flex;
  align-items: center;
  max-width: 256px;
  max-height: 74px;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 13px 26px 13px 72px;

  &__photo {
    width: 48px;
    height: 49px;
    border-radius: 100px;
    background-color: $background;
  }

  &__name {
    color: $primary-black-1;
    @include typography-headline-bold;
  }
}
