@use "../../../styles/color-palette.scss" as *;
@use "../../../styles/mixins.scss" as *;

.toggle_checkbox {
    display: none;
    &:checked + .toggle_label {
        background-color: $background-switcher;
    }
    &:checked + .toggle_label::after {
        transform: translateX(18px);
    }
}

.toggle_label {
    display: inline-block;
    width: 52px;
    height: 32px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: white;
        border-radius: 50%;
        top: 3px;
        left: 5px;
        transition: transform 0.3s;
    }
}
