$system-red-3: #ff3b30;
$system-red-2: #d70015;
$system-red-1: #ff6961;
$accent-blue-1: #001CA9;
$accent-blue-2: #003fae;
$primary-blue-2: #CDDAF3;
$primary-blue-5: #CBE8FF;
$primary-blue-6: #F6FAFF;
$accent-blue-3: #01276a;
$accent-blue-4: #C5DCEE;
$bg-btn: #4726A1;
$primary-white-1: #f4f4f4;
$primary-white-2: #FBFDFF;
$primary-white-3: #FEFEFF;
$primary-gray-1: #e5e5ea;
$primary-gray-2: #bcbcc1;
$primary-gray-3: #a0a0a6;
$primary-gray-4: #5e5e63;
$primary-black-1: #404664;
$background: #f4f4f4;
$background-switcher: #0F62FE;
$major-frame-color: #F2E9FF