$system-red-3: #ff3b30;
$system-red-2: #d70015;
$system-red-1: #ff6961;
$accent-blue-1: #001ca9;
$accent-blue-2: #003fae;
$primary-blue-2: #cddaf3;
$primary-blue-3: #9db5d8;
$primary-blue-5: #cbe8ff;
$primary-blue-6: #f6faff;
$accent-blue-3: #01276a;
$accent-blue-4: #c5dcee;
$bg-btn: #4726a1;
$primary-white: #ffffff;
$primary-white-1: #f4f4f4;
$primary-white-2: #fbfdff;
$primary-white-3: #fefeff;
$primary-gray-1: #e5e5ea;
$primary-gray-2: #bcbcc1;
$primary-gray-3: #a0a0a6;
$primary-gray-4: #5e5e63;
$primary-black-1: #404664;
$background: #f4f4f4;
$background-switcher: #0f62fe;
$major-frame-color: #f2e9ff;
$primary-blue-gradient: linear-gradient(137.08deg, rgb(48, 155, 232) 0%, rgb(48, 53, 201) 95.498%);
$topic-accentGreen-1: #00952b;
$topic-accentGreen-2: #f0fdef;
$primary-lavander-1: #79BEFF;
