$system-red-3: #ff3b30;
$system-red-2: #d70015;
$system-red-1: #ff6961;
$accent-blue-1: #6c87ff;
$accent-blue-2: #003fae;
$accent-blue-3: #01276a;
$bg-btn: #4726A1;
$primary-white-1: #f4f4f4;
$primary-gray-1: #e5e5ea;
$primary-gray-2: #bcbcc1;
$primary-gray-3: #a0a0a6;
$primary-gray-4: #5e5e63;
$primary-black-1: #393939;
$background: #f4f4f4;



