@use '../../styles/mixins.scss' as *;
@use '../../styles/color-palette.scss' as *;

.login {

  &__wrapper {
    background: linear-gradient(180deg, #309BE8, #3035C9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &__container {
    width: 450px;
    background: green;
  }

  &__title{
    width: 100%;
    color: $primary-white-2;
    display: flex;
    justify-content: center;
    @include typography-h2;
  }

  &__text {
    display: flex;
    justify-content: center;
    color: #4F4D54;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.3px;
  }

  &__input {
    width: 100%;  
    padding: 20px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: 0;
    border-radius: 12px;
  }

  &__button {
    width: 103%;
    padding: 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
    background-color: $accent-blue-4;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
  }

}

::placeholder {
  color: $primary-gray-4;
}

.errorMsg {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.5px;
  color: red;
}
