@use "../../styles/color-palette.scss" as *;
@use "../../styles/mixins.scss" as *;

.filter {
  position: relative;
  width: 100%;
  max-width: 314px;
  
  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFEFF;
    border: 1px solid #C5DCEE;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8D9299;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      color: $primary-gray-4;
      box-shadow: 0 4px 68px 0 #355ED933;
    }
  }

  &__select_open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFEFF;
    border: 1px solid #C5DCEE;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    padding: 12px;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    // color: #8D9299;
    color: $primary-gray-4;
    cursor: pointer;
    transition: all .2s ease-in-out;

    // &:hover {
      // color: $primary-gray-4;
      // box-shadow: 0 4px 68px 0 #355ED933;
    // }
  }  

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $primary-white-2;
    width: 100%;
    max-width: 314px;
    // max-height: 530px;
    box-sizing: border-box;
    border: 1px solid #C5DCEE;
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 12px;
    position: absolute;
    z-index: 1000;
  }
  
  &__search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__searchInput {
    width: 100%;
    max-width: 290px;
    border: 1px solid #C5DCEE;
    border-radius: 12px;
    // padding-right: 30px;
    padding: 13px 8px 13px 16px;
  }

  &__searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__allClasses {
    font-size: 14px;
    line-height: 20px;
    // display: flex;
    // justify-content: space-between;
    // margin-bottom: 12px;
  }

  &__grades {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    // gap: 12px;
  }

  // &__gradeItem {
  //   margin-bottom: 12px;
  // }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;

    &_level_1 {
      padding-left: 12px;  // 1 уровень вложенности
    }

    &_level_2 {
      padding-left: 24px;  // 2 уровня вложенности
    }

    &_level_3 {
      padding-left: 36px;  // 3 уровня вложенности
    }
  }

  // .filter__grades {
  //   overflow: scroll;
  // }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__buttonReset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    // padding: 9px 14px;
    border: 1px solid $accent-blue-1;
    border-radius: 12px;
    background-color: #fff;
    color: $accent-blue-1;
    cursor: pointer;
  }

  &__buttonReset:hover {
    border: 1px solid #0B2FE1;
    color: #0B2FE1;
  }

  &__buttonReset:active {
    border: 1px solid $accent-blue-4;
    color: $accent-blue-4;
  }

  &__buttonApply {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    // padding: 9px 14px;
    border: none;
    border-radius: 12px;
    background-color: $accent-blue-1;
    color: #FEFEFF;
    cursor: pointer;
  }

  &__buttonApply:hover {
    background-color: #0B2FE1;
  }

  &__buttonApply:active {
    background-color: $accent-blue-4;
  }
}