@use "../../styles/color-palette.scss" as *;
@use "../../styles/mixins.scss" as *;

.filter {
  position: relative;
  width: 100%;
  max-width: 314px;
  
  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFEFF;
    border: 1px solid #C5DCEE;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8D9299;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  &__select:hover {
    color: $primary-gray-4;
    box-shadow: 0 4px 68px 0 #355ED933;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $primary-white-2;
    width: 100%;
    max-width: 314px;
    box-sizing: border-box;
    border: 1px solid #C5DCEE;
    border-radius: 12px;
    padding: 12px;
    position: absolute;
    z-index: 1000;
  }

  &__search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__searchInput {
    width: 100%;
    max-width: 290px;
    border: 1px solid #C5DCEE;
    border-radius: 12px;
    // padding-right: 30px;
    padding: 13px 8px 13px 16px;
  }

  &__searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__allClasses {
    margin-bottom: 10px;
  }

  &__gradeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}