@use "../../../styles/color-palette.scss" as *;
@use "../../../styles/mixins.scss" as *;

.custom_checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
}

.checkbox_input {
    display: none; 
}

.checkbox {
    width: 18px; 
    height: 18px; 
    border: 1px solid $primary-black-1; 
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox_input:checked + .checkbox::after {
    content: '';
    position: absolute;
    width: 6px; 
    height: 12px; 
    border: solid #79BEFF; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
    left: 5px; 
}

// .custom_checkbox {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     color: #000;
//     margin-bottom: 10px;
// }

// .checkbox_input {
//     display: none; 
// }

// .checkbox {
//     width: 20px; 
//     height: 20px; 
//     border: 2px solid #000; 
//     position: relative;
//     margin-right: 10px;
//     transition: background-color 0.3s, border-color 0.3s;
// }

// .checkbox_input:checked + .checkbox {
//     background-color: #fff; 
//     border-color: #000; 
// }

// .checkbox_input:checked + .checkbox::after {
//     content: '';
//     position: absolute;
//     width: 6px; 
//     height: 12px; 
//     border: solid black; 
//     border-width: 0 2px 2px 0; 
//     transform: rotate(45deg); 
//     left: 7px; 
// }