@use '../../styles/color-palette.scss' as *;
@use '../../styles/mixins.scss' as *;

.header{
    display: flex;
    justify-content: right;
    background-color: $primary-blue-6;
    &__container{
        padding: 40px 40px 0 40px;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    &__title {
      grid-area: title;
      color: $accent-blue-1;
      @include typography-h2();
      margin-bottom: 24px;
  }
  
  &__selects_block {
      grid-area: filters;
      display: flex;
      justify-content: space-between;
      
  }
  }